body{

margin:0;
padding:20px;

font-family:"Arial", sans-serif;

background:#fff4fa;

display:flex;
justify-content:center;

}


.app{

width:100%;
max-width:420px;

}


h1{

text-align:center;
color:#b36b9d;

}


.subtitle{

text-align:center;
color:#777;

}



.card{

background:white;

padding:20px;

margin:18px 0;

border-radius:25px;

box-shadow:0 5px 15px #ead9e8;

}


h2{

color:#9370b8;

font-size:20px;

}


label{

display:block;

font-size:17px;

padding:10px;

}


input{

transform:scale(1.2);

margin-right:10px;

}


button{

width:100%;

padding:15px;

margin-top:12px;

border:none;

border-radius:20px;

background:#d8c4f2;

font-size:17px;

}


button:hover{

background:#c7a7ed;

}



.result{

background:#fff0f6;

padding:20px;

border-radius:20px;

text-align:center;

font-size:18px;

line-height:1.6;

}
